/* .btn{
    color: black;
    width: 80px;
    height: 30px;
    color: azure;
    float: right;
    
}  */
.Mspc{
    padding-bottom: 500px;
    background-color: black;
    color: white;
} 
p{
    text-align: center;
}
